USE [master]
GO
/****** Object:  Database [GemeStore]    Script Date: 03.09.2021 21:40:11 ******/
CREATE DATABASE [GemeStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GemeStore', FILENAME = N'e:\sql\MSSQL11.SQLEXPRESS\MSSQL\DATA\GemeStore.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GemeStore_log', FILENAME = N'e:\sql\MSSQL11.SQLEXPRESS\MSSQL\DATA\GemeStore_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GemeStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GemeStore]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 03.09.2021 21:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Stud] [nvarchar](200) NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Key1]    Script Date: 03.09.2021 21:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Key1](
	[IDgem] [int] NULL,
	[IDSyle] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StyleFoGame]    Script Date: 03.09.2021 21:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StyleFoGame](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK_StyleFoGame] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([ID], [Name], [Stud]) VALUES (1, N'Человек паук', N'Marvel inc')
INSERT [dbo].[Game] ([ID], [Name], [Stud]) VALUES (2, N'Gotham Knights', N'WB Games')
INSERT [dbo].[Game] ([ID], [Name], [Stud]) VALUES (4, N'Batman: Arkham VR', N'Rocksteady Studio')
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
INSERT [dbo].[Key1] ([IDgem], [IDSyle]) VALUES (1, 1)
INSERT [dbo].[Key1] ([IDgem], [IDSyle]) VALUES (1, 2)
INSERT [dbo].[Key1] ([IDgem], [IDSyle]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[StyleFoGame] ON 

INSERT [dbo].[StyleFoGame] ([ID], [Name]) VALUES (1, N'Боевик')
INSERT [dbo].[StyleFoGame] ([ID], [Name]) VALUES (2, N'Приключение')
INSERT [dbo].[StyleFoGame] ([ID], [Name]) VALUES (3, N'Фентази')
SET IDENTITY_INSERT [dbo].[StyleFoGame] OFF
GO
ALTER TABLE [dbo].[Key1]  WITH CHECK ADD  CONSTRAINT [FK_Key1_Game] FOREIGN KEY([IDgem])
REFERENCES [dbo].[Game] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Key1] CHECK CONSTRAINT [FK_Key1_Game]
GO
ALTER TABLE [dbo].[Key1]  WITH CHECK ADD  CONSTRAINT [FK_Key1_StyleFoGame] FOREIGN KEY([IDSyle])
REFERENCES [dbo].[StyleFoGame] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Key1] CHECK CONSTRAINT [FK_Key1_StyleFoGame]
GO
USE [master]
GO
